.card-curso{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 20px;
    padding: 1em 1em;
    box-sizing: border-box;
    background-color: blanchedalmond;
    border-radius: 30px;
    height: 40vh;
    background: url('../../../public/assets/img/fundo_tec.jpg') no-repeat;
    background-size: cover;
}

.container-img-curso{
    padding: 10px;
    border-radius: 10px;
}

.img-curso{
    width: 19em;
    height: 13em;
    max-width: 25em;
    transition: 1.5s;
}

.img-curso:hover{
    height: 18em;
    width: 23em;
}

.container-curso{
    max-width: 65%;
    height: 40%;
}

.titulo{
    text-align: center;
    align-self: flex-start;
    margin-bottom: 40px;
}

.texto{
    text-align: justify;
    text-indent: 20px;
    word-break: break-all;
}